*.sw*
*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse #
.classpath
.project
.settings/

# Gradle #
.gradle/
gradle/
gradlew
gradlew.bat

# Compilation & Tests #
banned-ips.json
banned-players.json
eula.txt
ops.json
options.txt
server.properties
usercache.json
whitelist.json

bin/
config/
logs/
run/
world/
